<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- =========== بداية الإضافات المطلوبة للتاسك =========== -->

    <!-- 1. صلاحيات الإنترنت (مطلوبة لمكتبة http للاتصال بالـ Wi-Fi وقاعدة البيانات) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 2. صلاحيات البلوتوث (مطلوبة لمكتبة flutter_blue_plus) -->
    
    <!-- هذه الصلاحيات مطلوبة للأندرويد 11 وما قبله -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <!-- 
      هذه الصلاحيات مطلوبة للأندرويد 12 وما فوق.
      يجب طلبها من المستخدم عند تشغيل التطبيق.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- 
      صلاحية الموقع (ضرورية جدًا)
      أغلب إصدارات أندرويد تتطلب هذه الصلاحية للبحث عن أجهزة البلوتوث القريبة.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 
      هذه الأسطر تخبر متجر جوجل بلاي أن تطبيقك "يستخدم" البلوتوث،
      لكنه "غير إجباري" (required="false").
      هذا يسمح بتثبيت التطبيق على أجهزة لا تدعم البلوتوث.
    -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />

    <!-- 
      3. صلاحيات الـ USB / Serial (مطلوبة لمكتبة flutter_libserialport)
      
      لا تحتاج هذه المكتبة إلى صلاحيات في هذا الملف تحديداً،
      لأنها ستطلب من المستخدم الإذن "عند تشغيل التطبيق" عندما يشبك السلك.
      لذلك لا يلزم إضافة شيء هنا بخصوص الـ Serial.
    -->

    <!-- =========== نهاية الإضافات المطلوبة للتاسك =========== -->


    <application
        android:label="flutter_application_1"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- 
              Specifies an Android theme to apply to this Activity as soon as
              the Android process has started. 
            -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 
          Don't delete the meta-data below.
          This is used by the Flutter tool to generate GeneratedPluginRegistrant.java
        -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- 
      Required to query activities that can process text, see:
      https://developer.android.com/training/package-visibility
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>